cfgv==3.5.0
diagrams==0.25.1
distlib==0.4.3
filelock==3.29.4
graphviz==0.20.3
identify==2.6.19
Jinja2==3.1.6
MarkupSafe==3.0.3
nodeenv==1.10.0
platformdirs==4.10.0
pre_commit==4.6.0
python-discovery==1.4.2
PyYAML==6.0.3
virtualenv==21.5.1
